:root{
    --white-color: #fff;
    --black-color: #000;
    --font-color:#3fd0d4 ;
    --main-transition: all 0.2s linear;
    --xam-color: #f7f7f7;
}

*{
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%; /* tương đương với 10px */
    line-height: 1.6rem; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}